@import "./App.css";

:root {
  color-scheme: light;
}

html {
  min-height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  min-height: 100%;
}

input, textarea, select, button {
  @apply font-sans;
}

* {
  box-sizing: border-box;
}
